<!-- Task b extra ii-->
<div id="select-collection">
  <h2>{{section.settings.header}}</h2>
  <ul>
    {% for collection in collections %}
      <li>
        <a href="{{ collection.url }}" class = "btn btn-primary" id="{{collection.title | downcase | replace: " ", "-"}}">{{ collection.title }}</a>
      </li>
      <div class="collection_info" id="{{collection.title | downcase | replace: " ", "-"}}-info" style="display:none">
        {% for product in collection.products %}
          <div class="product">
            <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
            {{ product.price | money }}
            {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
            <a href="{{ product.url | within: collection }}">
            <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
            </a>
          </div>
        {% endfor %}
      </div>
    {% endfor %}  
  </ul>
</div>

{% schema %}
  {
    "name": "Collection",
    "settings": [
    {
      "id": "header",
      "type": "text",
      "label": "Title",
      "default": "Select Collection to be Displayed:"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}