{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
{% for image in product.images %}
  <a href="{{ image.src | img_url: 'large' }}">
    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
  </a>
{% endfor %}

<h1>{{ product.title }} </h1>
<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
  <select name="id" id="productSelect">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - sold out
        </option>
      {% endif %}
    {% endfor %}
  </select>
  {{ current_variant.price | money }}
  <label for="Quantity">quantity</label>
  <input type="number" id="Quantity" name="quantity" value="1" min="1">

  <!--Task a, extra i & extra ii. AJAX in script tag on bottom-->
  {% if current_variant.available%}
    {% if current_variant.inventory_quantity < 5%}
    <button type="submit" name="add" id="LowStockButton" class="btn btn-primary">Low Stock</button>
    {%else%}
    <button type="submit" name="add" id="AddToCart" class="btn btn-success">Add to cart</button>
    {%endif%}
  {%else%}
    <button type="submit" name="add" id="noStockButton" class="btn btn-secondary" disabled>No Stock</button>
  {%endif%}
</form>
<div>{{ product.description }}</div>

<!-- Modal, task c-->
  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% if current_variant.available%}
          <p>There are {{ current_variant.inventory_quantity }} stocks of {{product.title}} left.</p>
          {% else %}
          <p>{{product.title}} is sold out</p>
          {% endif %}

          <p>Total amount in the cart is: {{cart.item_count}}</p>
          <h2>Cart Status</h2>
          <table>
            <thead>
              <th colspan="2">Prod</th>
              <th>Qty</th>
              <th>Price</th>
              <th>Total</th>
            </thead>
            <tbody>
              {% for item in cart.items %}
                <tr>
                  <td> <a href="{{ item.url }}">{{ item.product.title }}</a> </td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.price | times: item.quantity | money }}</td>
                </tr>
                {% endfor %}
                  <tr>
                    <td> {{ cart.total_price | money }} </td>
                  </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  // Modal pops up when the product page loads
  window.addEventListener('load', () => {
    $('#modal').modal('show');
  });

  // AJAX request of add to cart using axios
  const form = document.getElementById("AddToCartForm");
  form.addEventListener("submit", (event) => {
    event.preventDefault();
    axios.post(
      '/cart/add',
      {
        id: document.getElementById("productSelect").value,
        quantity: document.getElementById("Quantity").value
      }
    )
      .then((response) => {
        console.log(response);
        let cart_num = document.getElementById("item_count");
        const quantity = parseInt(document.getElementById("Quantity").value);
        const new_val = parseInt(cart_num.innerText) + quantity;
        cart_num.innerText = new_val;
      })
      .catch((error) => {
        console.log(error);
      });
  });

  // Change button color if stock > 5
  const addToCartButton = document.getElementById("AddToCart");
  addToCartButton.addEventListener("mouseover", () => {
    addToCartButton.classList.remove("btn-success");
    addToCartButton.classList.add("btn-primary");
  });
  addToCartButton.addEventListener("mouseleave", () => {
    addToCartButton.classList.remove("btn-primary");
    addToCartButton.classList.add("btn-success");
  });
</script>